# Server
PORT=5001
NODE_ENV=production

# URLs
CLAIM_SERVER_URL=https://lensmint.onrender.com
FRONTEND_URL=https://lensmint.onrender.com

# CORS
CORS_ORIGIN=*

# Database
DATABASE_PATH=/home/pi/lensmint/public-server/claims.db

# Auth
API_SECRET=secretcode